{% if site.mermaid %}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
    // This part ensures ```mermaid blocks are processed
    document.querySelectorAll('pre > code.language-mermaid').forEach((codeBlock) => {
      const container = document.createElement('pre');
      container.className = 'mermaid';
      container.textContent = codeBlock.textContent;
      codeBlock.parentElement.replaceWith(container);
    });
  </script>
{% endif %}
